* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  margin: 3em auto 30rem;
  max-width: 1200px;
  min-width: 436px;
  display: flex;
  flex-direction: column;
}

footer {
  margin: -28em auto;
  max-width: 1200px;
  min-width: 436px;
}

footer::before {
  border-top: 2px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  content: " ";
  display: block;
  height: 5px;
  margin-bottom: 10px;
}

h1 {
  font-style: oblique;
  font-size: 2rem;
  line-height: 2.5rem;
}

img {
  width: 100%;
}

iframe {
  border: none;
  width: 100%;
  height: 320px;
}

li {
  list-style-type: none;
}

nav {
  margin: auto;
  max-width: 100rem;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.2em;
}

button:focus {
  outline-style: dashed;
  outline-offset: -0.5rem;
}

header {
  padding: 0.2em 1rem;
  background-color: white;
  border-bottom: 0.02em solid #5050503d;
  position: sticky;
  top: 0;
  margin-top: -3rem;
  z-index: 99;
}

header img {
  margin-top: 0.4em;
  max-width: 12em;
}

p {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

aside p {
  font-weight: bold;
  font-size: 0.8em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.access-more p {
  margin: auto;
  font-size: 0.98rem;
}

footer li,
.footer-margin-top h4 {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.8rem;
}

.most-popular p {
  line-height: 1em;
}

.thumbails-info p {
  font-size: 0.8rem;
}

aside a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: rgb(51, 51, 51);
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer a {
  text-decoration: none;
  color: black;
}

.alternative-text-normal a {
  color: #6d6d6d;
}

aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1900px;
  left: 70%;
  width: 250px;
}

aside img {
  float: left;
  width: 30%;
  margin-right: 10px;
}

aside div {
  margin-top: 25px;
  margin-left: 11px;
}

.box-inflation-content p {
  font-size: 0.8rem;
  line-height: 1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.text-width {
  max-width: 37.5rem;
  text-align: justify;
  margin: 1em auto;
}

.subs-btn,
.logIn-btn {
  background-color: #567b95;
  padding: 0.9em 1em;
  border-radius: 0.3em;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  border: 0.05em solid #2e2e2e3d;
}

.logIn-btn {
  margin-left: -1em;
}

button .ion-icon {
  font-size: 1.4em;
  text-align: center;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-btwn li + li {
  margin-left: 1em;
  margin-right: 0.2em;
}

nav li:nth-of-type(5) {
  margin-left: auto;
}

nav li:nth-of-type(4) {
  margin-left: auto;
}

.space-cosmos-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  color: black;
}

.footer-hyper-links span {
  text-decoration: none;
}

.space-cosmos-link:hover {
  text-decoration: underline;
}

.alan-g-photo p {
  display: inline;
}

.alternative-text {
  color: #6d6d6d;
  font-size: 0.93rem;
  line-height: 1rem;
  display: inline;
}

.video-credit p {
  line-height: normal;
}

.text-width p + p {
  margin-top: 0.8rem;
}

.alan-g-photo div {
  margin: 0.2rem 4rem 0.1rem 0.5rem;
}

.alan-g-photo {
  margin: auto;
}

.alternative-autor-credit {
  color: rgb(131, 131, 131);
  font-size: 0.71rem;
  margin-left: 0.5em;
  display: inline;
}

.social-autor {
  font-size: 0.8rem;
  text-decoration: underline;
}

.social-date {
  position: relative;
  top: 0.8rem;
  font-size: 0.8rem;
}

.social-media button {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.01rem 0.2rem;
  border-radius: 2rem;
  border: 0.1rem solid #b3b3b33d;
  background-color: rgb(223, 223, 223);
}

.social-media .social-ion-icon {
  position: relative;
  top: 0.9rem;
  font-size: 2.3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.1rem;
  margin-left: -0.4rem;
  border: none;
  background-color: white;
}

.social-media .social-ion-icon + .social-ion-icon {
  margin-left: -1rem;
}

.social-media i {
  font-size: 0.8rem;
}

.social-media .social-media-numbers {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  font-size: 0.8rem;
}

.text-width .display-flex {
  justify-content: space-between;
}

.social-container {
  margin-bottom: 1rem;
}

.hyperlinks {
  color: #326891;
  text-decoration: underline;
  cursor: pointer;
}

.hyperlinks:hover {
  text-decoration: none;
}

.hyperlink-2 {
  color: #326891;
  text-decoration: none;
  cursor: pointer;
}

.bold-text {
  font-weight: bolder;
}

.subscribe-text {
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1rem;
}

.line {
  margin: 1em auto 1em;
  width: 4.2em;
  height: 1px;
  background-color: gray;
}

.grid-container-inflation {
  max-width: 60rem;
  display: grid;
  grid-template-rows: 60px 2fr 2fr 60px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "content1 content2 content3 content4"
    "content5 content6 content7 content8"
    "footer footer footer footer";
  margin: 2rem auto;
  gap: 1rem;
}

.main-tittle {
  grid-area: header;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.content-1 {
  grid-area: content1;
}

.content-2 {
  grid-area: content2;
}

.content-3 {
  grid-area: content3;
}

.content-4 {
  grid-area: content4;
}

.content-5 {
  grid-area: content5;
}

.content-6 {
  grid-area: content6;
}

.content-7 {
  grid-area: content7;
}

.content-8 {
  grid-area: content8;
}

.footer-TTOI {
  grid-area: footer;
}

.final-grid-line {
  width: 4.2em;
  height: 1px;
  background-color: gray;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.video-credit {
  margin-right: 3em;
}

.bicep-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.alternative-text-normal {
  color: #6d6d6d;
  font-size: 0.73rem;
}

.footer-social-container {
  justify-content: space-between;
}

.footer-button {
  width: 20rem;
}

.more-articules {
  height: 65rem;
  display: grid;
  grid-template-columns: 4fr 1.3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "space-astronomy most-popular"
    "editor-pick most-popular";
  margin-top: 3rem;
  gap: 1rem;
}

.more-astronomy {
  grid-area: space-astronomy;
  display: grid;
  border-top: 1px solid gray;
  grid-template-rows: 2rem 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title  title  title"
    "item-1 item-2 item-3"
    "item-4 item-5 item-6";
  gap: 1rem;
}

.title {
  font-size: 0.9rem;
  grid-area: title;
  margin-top: 1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.editor-pick {
  grid-area: editor-pick;
  border-top: 1px solid gray;
}

.most-popular {
  grid-area: most-popular;
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  line-height: 1em;
}

.thumbails-info p:nth-child(1) {
  text-align: right;
  color: #2e2e2e3d;
  font-size: 0.6rem;
}

.thumbails-info p:nth-child(2) {
  line-height: 1.3rem;
  font-size: 1.1rem;
  margin-right: 2rem;
}

.thumbails-info p:nth-child(3) {
  color: #2e2e2e3d;
  font-size: 0.7rem;
}

.most-popular a {
  text-decoration: none;
  color: black;
  border-top: 1px solid rgb(199, 199, 199);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.6rem;
}

.most-popular h3 {
  margin-bottom: 1.2em;
}

.most-popular a:hover {
  color: gray;
}

.Edtitle {
  margin-top: 0.9rem;
  margin-bottom: 0.7rem;
}

.editor-pick .flex-box {
  flex-direction: row;
}

.pick-info p:nth-child(2) {
  text-align: right;
  color: #bebebe;
  font-size: 0.9rem;
}

.pick-info p:nth-child(3) {
  line-height: 1.3rem;
  font-size: 1.1rem;
  margin-right: 2rem;
}

.pick-info p:nth-child(4) {
  color: #7777773d;
  font-size: 0.7rem;
}

.pick-info {
  margin: 0.6rem;
}

.flex-box-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-link {
  color: rgb(86, 123, 149);
  font-size: 0.7rem;
}

.home-link::after {
  content: " \00BB";
}

.flex-box-footer img {
  width: 12rem;
}

.footer-margin-top {
  margin-top: 2rem;
  line-height: 1.5rem;
}

.left-border {
  border-left: 1px solid #e2e2e2;
  padding-left: 20px;
  margin-left: -50px;
}

.left-border img {
  width: 0.9rem;
  position: relative;
  top: 0.2rem;
}

.after-border::after {
  border-bottom: 1px solid #e2e2e2;
  content: " ";
  display: block;
  height: 5px;
  margin-bottom: 10px;
}

.game-board {
  width: 0.9rem;
}

.silverware-icon {
  width: 0.9rem;
}

.left-border span {
  margin-left: 0.2rem;
}

.footer-hyper-links {
  border-top: 0.1rem solid #5f5f5f3d;
  flex-direction: row;
  font-size: 0.7rem;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
  padding: 1.5rem 3.5rem 0.01rem 3.5rem;
  color: #181717bd;
}

.access-more {
  flex-direction: row;
  border-top: 0.1rem solid #363636bd;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 3.5rem;
  background-color: white;
  align-items: center;
}

.access-more span {
  font-size: 0.8rem;
  font-weight: bold;
}

.expand {
  transform: scale(0.9);
}

.access-more::after {
  content: "\276F";
  margin-left: 1.5rem;
  margin-right: auto;
  font-size: 1rem;
  font-weight: bold;
  transform: rotate(-90deg);
}

.footer-hyper-links span:hover {
  text-decoration: underline;
  cursor: pointer;
}
