* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

nav {
  padding: 0.2em 10em;
  background-color: white;
  border-bottom: 0.02em solid #5050503d;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.2em;
}

header img {
  margin-top: 0.4em;
}

button .ion-icon {
  font-size: 1.4em;
  text-align: center;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-btwn li + li {
  margin-left: 1em;
  margin-right: 0.2em;
}

nav li:nth-of-type(5) {
  margin-left: auto;
}

nav li:nth-of-type(4) {
  margin-left: auto;
}

.space-cosmos-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  color: black;
}

.space-cosmos-link:hover {
  text-decoration: underline;
}
